@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

#map-container {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title{
    font: 400 18px  'Raleway' Roboto, Arial, sans-serif;
}
.map-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10%;
        padding: 0 0.5em;
        font: 400 18px  'Raleway' Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
}
.map-button:hover {
        background: #ebebeb;
}
